* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: red;
}



/* ================= */
/* NAVIGATION BAR */
/* ================= */
header {
    margin: 0 auto;
    width: 80%;
    height: 15vh;
    /* border: 3px red solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    /* border: 3px red solid; */
}
ul li {
    list-style-type: none;
}

ul > li > a {
    text-decoration: none;
}


/* ================= */
/* MAIN */
/* ================= */
main {
    margin: 0 auto;
    width: 80%;
    height: 75vh;
    border: 3px orange solid;
}
main > .products {
    /* border: 3px orange solid; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products > .box {
    border: 3px orange solid;
    width: 200px;
    height: 200px;
    
    text-align: center;
}

/* ================= */
/* ARROWS */
/* ================= */
.arrow {
    height: 50px;
    width: 50px;
    margin-top: 50%;
    color: whitesmoke;
    background-color: grey;
}

/* ================= */
/* FOOTER */
/* ================= */
footer {
    margin: 0 auto;
    width: 80%;
    height: 10vh;
    border: 3px yellow solid;
}